.hero {
  position: relative;
  width: 100%;
  background-image: url("img/car.png");
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  padding-bottom: 66.7%;
}
.image-section {
  padding: 45px 0px;
  img {
    width: 100%;
  }
}
